.App {
  padding-bottom: 60px;
}
button:active {
  background-color: transparent; /* or any other color you prefer */
}
input,.expand-button,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
